In [ ]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

In [ ]:
df=pd.read_csv("play-tennis/play_tennis.csv")

In [8]:
df.head()

  day   outlook  temp humidity    wind play
0  D1     Sunny   Hot     High    Weak   No
1  D2     Sunny   Hot     High  Strong   No
2  D3  Overcast   Hot     High    Weak  Yes
3  D4      Rain  Mild     High    Weak  Yes
4  D5      Rain  Cool   Normal    Weak  Yes

In [12]:
df.shape

(14, 6)

In [11]:
df['play'].value_counts()

play
Yes    9
No     5
Name: count, dtype: int64

In [14]:
py=9/14
pn=5/14

In [16]:
pd.crosstab(df['outlook'],df['play'])

play      No  Yes
outlook
Overcast   0    4
Rain       2    3
Sunny      3    2

In [19]:
##outlook probabilty
play_ovrcst_n=0
play_rain_n=2/5
play_sunny_n=3/5

play_ovrcst_y=4/9
play_rain_y=3/9
play_sunny_y=2/9

In [21]:
pd.crosstab(df['temp'],df['play'])

play  No  Yes
temp
Cool   1    3
Hot    2    2
Mild   2    4

In [31]:
## temp probabilty
play_cool_n=1/5
play_hot_n=2/5
play_mild_n=2/5

play_cool_y=3/9
play_hot_y=2/9
play_mild_y=4/9

In [24]:
pd.crosstab(df['humidity'],df['play'])

play      No  Yes
humidity
High       4    3
Normal     1    6

In [25]:
## humidity probabilty
play_high_n=4/5
play_normal_n=1/5


play_high_y=3/9
play_normal_y=6/9

In [26]:
pd.crosstab(df['wind'],df['play'])

play    No  Yes
wind
Strong   3    3
Weak     2    6

In [27]:
## wind probability
play_strong_n=3/5
play_weak_n=2/5


play_strong_y=3/9
play_weak_y=6/9

In [32]:
##predict

#outlook=sunny ,temp=hot,humidity=high,wind=weak

print(py*play_sunny_y*play_hot_y*play_high_y*play_weak_y)
print(pn*play_sunny_n*play_hot_n*play_high_n*play_weak_n)

0.007054673721340388
0.02742857142857143

In [ ]:
#not play